:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* HEADER HOMESEITE */

.header-home {
  min-height: 30vh;
  background-image: url("./images/pokemon-battle-background-j620nq8sjlscuhox.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: repeat;
  display: flex;
  align-items: flex-end;
}

/* GLOBAL NAVBAR */

.nav-global {
  width: 100vw;
  height: 4vh;
  background-color: rgb(255, 255, 255, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
}

.nav-global a {
  margin-left: 100px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-global a:hover {
  background-color: red;
}

/* NAVBAR */

.nav-home {
  position: fixed;
  left: 50px;
  top: 474px;
  background-color: rgb(0, 0, 0, 85%);
  height: 800px;
  width: 250px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.8rem;
}

.nav-home a {
  text-decoration: none;
  color: white;
}

#navtitle {
  color: yellow;
  text-decoration: underline;
  font-size: 2.4rem;
}

.nav-home a:hover {
  background-color: rgb(128, 128, 128, 50%);
}

/* MAIN */

h1 {
  font-size: 6rem;
  color: grey;
  text-shadow: 5px 5px 3px red;
  text-align: center;
  font-family: "Pokemon Solid", sans-serif;
  margin-top: 30px;
}

main {
  font-size: 3rem;
  /* border: 2px solid red; */
  background-image: url("./images/5301586.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}

/* WHAT YOU WILL LEARN */

#introduction {
  width: 80%;
  height: 80vh;
  /* border: 2px solid red; */
  border-radius: 20px;
  margin: 20px 0 20px 400px;
  background-color: rgb(222, 185, 135, 50%);
}

.learn-title {
  padding: 40px 0 0 0;
  text-align: center;
  text-decoration: underline;
}

/* POKEMON FIGHT BASICS */

#fight-basics {
  width: 80vw;
  height: 80vh;
  /* border: 2px solid red; */
  border-radius: 20px;
  margin: 20px 0 20px 400px;
  background-color: rgb(222, 185, 135, 50%);
}

.fight-title {
  padding: 40px 0 0 0;
  text-align: center;
  text-decoration: underline;
}

/* SINGLE-DUO FIGHTS */

#single-duo {
  width: 80vw;
  height: 80vh;
  /* border: 2px solid red; */
  border-radius: 20px;
  margin: 20px 0 20px 400px;
  background-color: rgb(222, 185, 135, 50%);
}

.single-duo-title {
  padding: 40px 0 0 0;
  text-align: center;
  text-decoration: underline;
}

/* STRENGTHS AND WEAKNESSES */

#strengths-weaknesses {
  width: 80vw;
  height: 80vh;
  /* border: 2px solid red; */
  border-radius: 20px;
  margin: 20px 0 20px 400px;
  background-color: rgb(222, 185, 135, 50%);
}

.strengths-weaknesses-title {
  padding: 40px 0 0 0;
  text-align: center;
  text-decoration: underline;
}

/* STATS */

#stats {
  width: 80vw;
  height: 80vh;
  /* border: 2px solid red; */
  border-radius: 20px;
  margin: 20px 0 20px 400px;
  background-color: rgb(222, 185, 135, 50%);
}

.stats-title {
  padding: 40px 0 0 0;
  text-align: center;
  text-decoration: underline;
}

/* EVs and DVs */

#ev-dv {
  width: 80vw;
  height: 80vh;
  /* border: 2px solid red; */
  border-radius: 20px;
  margin: 20px 0 20px 400px;
  background-color: rgb(222, 185, 135, 50%);
}

.ev-dv-title {
  padding: 40px 0 0 0;
  text-align: center;
  text-decoration: underline;
}

/* NATURES */

#natures {
  width: 80vw;
  height: 80vh;
  /* border: 2px solid red; */
  border-radius: 20px;
  margin: 20px 0 20px 400px;
  background-color: rgb(222, 185, 135, 50%);
}

.natures-title {
  padding: 40px 0 0 0;
  text-align: center;
  text-decoration: underline;
}

/* ABILITIES */

#abilities {
  width: 80vw;
  height: 80vh;
  /* border: 2px solid red; */
  border-radius: 20px;
  margin: 20px 0 20px 400px;
  background-color: rgb(222, 185, 135, 50%);
}

.abilities-title {
  padding: 40px 0 0 0;
  text-align: center;
  text-decoration: underline;
}

/* ITEMS */

#items {
  width: 80vw;
  height: 80vh;
  /* border: 2px solid red; */
  border-radius: 20px;
  margin: 20px 0 20px 400px;
  background-color: rgb(222, 185, 135, 50%);
}

.items-title {
  padding: 40px 0 0 0;
  text-align: center;
  text-decoration: underline;
}

/* SCARLET AND VIOLET */

#scarlet-violet {
  width: 80vw;
  height: 80vh;
  /* border: 2px solid red; */
  border-radius: 20px;
  margin: 20px 0 20px 400px;
  background-color: rgb(222, 185, 135, 50%);
}

.sv-title {
  padding: 40px 0 0 0;
  text-align: center;
  text-decoration: underline;
}

/* TERA TYPES */

#tera-types {
  width: 80vw;
  height: 80vh;
  /* border: 2px solid red; */
  border-radius: 20px;
  margin: 20px 0 20px 400px;
  background-color: rgb(222, 185, 135, 50%);
}

.tera-types-title {
  padding: 40px 0 0 0;
  text-align: center;
  text-decoration: underline;
}

/* TERA RAIDS */

#tera-raids {
  width: 80vw;
  height: 80vh;
  /* border: 2px solid red; */
  border-radius: 20px;
  margin: 20px 0 0 400px;
  background-color: rgb(222, 185, 135, 50%);
}

.tera-raids-title {
  padding: 40px 0 0 0;
  text-align: center;
  text-decoration: underline;
}

/* FOOTER */

.footer-home {
  min-height: 5vh;
  background-color: black;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: white;
}

footer a:visited {
  color: white;
}

.insta:hover {
  color: rgb(191, 51, 132);
}

.facebook:hover {
  color: rgb(26, 42, 181);
}

.linkedin:hover {
  color: rgb(51, 100, 191);
}

.youtube:hover {
  color: rgb(255, 0, 0);
}

footer i {
  margin-left: 30px;
}

/* _________________________________________________________________________ */

/* TIER LIST */

/* _________________________________________________________________________ */

/* EXAMPLE */

/* _________________________________________________________________________ */

/* ABOUT THE AUTHOR */

/* .about-main {
    display: flex;
    justify-content: center;
} */

#about {
  width: 90%;
  height: 158vh;
  /* border: 2px solid red; */
  border-radius: 20px;
  background-color: rgb(222, 185, 135, 50%);
  margin: auto;
  margin-top: 30px;
}

.about-title {
  padding: 40px 0 0 0;
  text-align: center;
  text-decoration: underline;
}

#about-pic {
  width: 580px;
  height: 580px;
  border-radius: 50%;
  object-fit: cover;
  border: 7px solid black;
  margin: 20px;
  float: right;
}

#about-pic2 {
  width: 580px;
  height: 580px;
  border-radius: 50%;
  object-fit: cover;
  border: 7px solid black;
  margin: 20px;
  float: left;
}

.about-description {
  margin: 30px;
  line-height: 40px;
  font-size: 2.6rem;
  text-align: left;
}

.about-description a {
  color: black;
}

.about-description a:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

table {
  /* border: 2px solid red; */
  text-align: center;
  position: relative;
  background-color: rgb(255, 255, 255, 0.5);
  left: 100px;
}

td {
  padding: 30px 150px;
}

#fire {
  display: inline-block;
  width: fit-content;
  border: 1px solid black;
  border-radius: 50px;
  background-color: orangered;
  color: white;
  width: 100px;
}

#dark {
  display: inline-block;
  width: fit-content;
  border: 1px solid black;
  border-radius: 50px;
  background-color: rgb(111, 78, 49);
  color: white;
  width: 100px;
}

.sing {
  position: relative;
  left: 450px;
  top: 250px;
  font-size: 5rem;
}

.sing a {
  text-decoration: none;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(191, 51, 132);
}

.sing a:hover {
  background-color: black;
  color: rgb(191, 51, 132);
}

.singframe {
  position: relative;
  left: 1100px;
  top: 20px;
}

#to-top {
  text-decoration: none;
  font-weight: bold;
  color: black;
  position: relative;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  font-size: 4rem;
  top: 220px;
  left: 1500px;
}

#to-top:hover {
  text-decoration: none;
  background-color: rgb(191, 51, 132);
}
